# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build artifacts
dist/
build/

# Node modules (if frontend uses npm)
node_modules/

# Zip files
*.zip